{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title is-3">Operating System Principles</h1>

  <p>
    Welcome to the Fall 2021 offering of CS 111 at UCLA.
    If you're a student you should receieve an email to access your Git account on this server.
  </p>

  <h2 class="title is-4">Information</h2>
</div>

  <div class="table-container">
    <table class="table is-narrow">
      <thead>
	<tr>
	  <th>What</th>
	  <th>Where</th>
	  <th>When</th>
	  <th>Who</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>Lectures</td>
	  <td>
            MS 4000A
	    and
	    Zoom
	  </td>
	  <td>Tuesday/Thursday 4:00–5:50 PM</td>
	  <td><a href="mailto:harryxu@ucla.edu">Harry Xu</a></td>
	</tr>
	<tr>
	  <td>Lab 1A</td>
	  <td>Renee and David Kaplan Hall Room A51 and Zoom</td>
	  <td>Friday 10:00–11:50 AM</td>
	  <td><a href="mailto:canaygun10@gmail.com">Can Aygun</a></td>
	</tr>
	<tr>
	  <td>Lab 1B</td>
	  <td>Boelter Hall Room 3400 and Zoom</td>
	  <td>Friday 12:00–1:50 PM</td>
	  <td>Sicheng Jia</td>
	</tr>
	<tr>
	  <td>Lab 1C</td>
	  <td>Renee and David Kaplan Hall 169 and Zoom</td>
	  <td>Friday 2:00–3:50 PM</td>
	  <td>Li-Cheng Lan</td>
	</tr>
      </tbody>
    </table>
  </div>

<div class="content">
  <h2 class="title is-4">Acknowledgements</h2>

  <p>
    I'd like to thank <a href="https://eyolfson.com">Jonathan Eyolfson</a>,
    <a href="https://samueli.ucla.edu/people/paul-eggert/">Paul Eggert</a>, and
    <a href="https://samueli.ucla.edu/people/peter-reiher/">Peter Reiher</a>,
    who previously taught this course.
  </p>

</div>
{% endblock %}
