{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title is-3">Operating System Principles</h1>

  <p>
    Welcome to the Fall 2021 offering of CS 111 at UCLA.
    If you're a student you should receieve an email to access your Git account on this server.
  </p>

  <h2 class="title is-4">Information</h2>
</div>

  <div class="table-container">
    <table class="table is-narrow">
      <thead>
	<tr>
	  <th>What</th>
	  <th>Where</th>
	  <th>When</th>
	  <th>Who</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>Lectures</td>
	  <td>
	    Kinsey Science Teaching Pavilion 1220B
	    and
	    <a href="https://twitch.tv/eyolfson/">Twitch</a>
	  </td>
	  <td>Tuesday/Thursday 8:00–9:50 AM</td>
	  <td><a href="mailto:eyolfson@ucla.edu">Jon Eyolfson</a></td>
	</tr>
	<tr>
	  <td>Lab 1A</td>
	  <td>Dodd Hall 175</td>
	  <td>Friday 4:00–5:50 PM</td>
	  <td><a href="mailto:lupantech@gmail.com">Pan Lu</a></td>
	</tr>
	<tr>
	  <td>Lab 1B</td>
	  <td>Renee and David Kaplan Hall A65</td>
	  <td>Friday 10:00–11:50 AM</td>
	  <td><a href="mailto:alexandretiard@gmail.com">Alex Tiard</a></td>
	</tr>
	<tr>
	  <td>Lab 1C</td>
	  <td>Bunche Hall 2209A</td>
	  <td>Friday 2:00–3:50 PM</td>
	  <td><a href="mailto:canaygun10@gmail.com">Rüstem Aygun</a></td>
	</tr>
      </tbody>
    </table>
  </div>

<div class="content">
  <h2 class="title is-4">Office Hours</h2>
</div>

  <div class="table-container">
    <table class="table is-narrow">
      <thead>
	<tr>
	  <th>Who</th>
	  <th>Where</th>
	  <th>When</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td><a href="mailto:eyolfson@ucla.edu">Jon Eyolfson</a></td>
	  <td>Boelter Hall 3531C</td>
	  <td>TBA</td>
	</tr>
	<tr>
	  <td><a href="mailto:lupantech@gmail.com">Pan Lu</a></td>
	  <td>TBA</td>
	  <td>TBA</td>
	</tr>
	<tr>
	  <td><a href="mailto:alexandretiard@gmail.com">Alex Tiard</a></td>
	  <td>TBA</td>
	  <td>TBA</td>
	</tr>
	<tr>
	  <td><a href="mailto:canaygun10@gmail.com">Rüstem Aygun</a></td>
	  <td>TBA</td>
	  <td>TBA</td>
	</tr>
      </tbody>
    </table>
  </div>

<div class="content">
  <h2 class="title is-4">Acknowledgements</h2>

  <p>
    I'd like to thank <a href="http://web.cs.ucla.edu/~harryxu/">Harry Xu</a>,
    <a href="https://samueli.ucla.edu/people/paul-eggert/">Paul Eggert</a>, and
    <a href="https://samueli.ucla.edu/people/peter-reiher/">Peter Reiher</a>,
    who previously taught this course.
  </p>

</div>
{% endblock %}
