{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title is-3">Lectures</h1>
  <p class="subtitle is-5">(from Fall 2021)</p>
</div>

{% if lectures %}
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Slides</th>
      <th>YouTube</th>
    </tr>
  </thead>
  <tbody>
  {% for lecture in lectures %}
    <tr>
      <td>{{ lecture.number }}</td>
      <td>{{ lecture.title }}</td>
      <td><a href="{{ lecture.pdf.url }}">{{ lecture.version }}</a></td>
      <td>
	{% if lecture.youtube %}<a href="{{ lecture.youtube }}">Link{% if lecture.youtube2 %} 1{% endif %}</a>{% endif %}
	{% if lecture.youtube2 %}<br><a href="{{ lecture.youtube2 }}">Link 2</a>{% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="content">
  <p>No lectures posted yet.</p>
</div>
{% endif %}
{% endblock %}
