{% extends "base.html" %}
{% load tz %}

{% block content %}
<div class="content">
  <h1 class="title is-3">Repository</h1>

  <p class="is-family-monospace">git clone git@laforge.cs.ucla.edu:{{ repo.path }}</p>

  {% if midterm_grade %}
  <h2 class="title is-4">Other Grades</h2>
</div>

<table class="table is-narrow">
  <thead>
    <tr>
      <th>Exam</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    {% if evaluation_grade %}
    <tr>
      <td>Evaluation</td>
      <td>{{ evaluation_grade.grade }}/100</td>
    </tr>
    {% endif %}
    <tr>
      <td>Midterm</td>
      <td>{{ midterm_grade.grade }}/100</td>
    </tr>
    <tr>
      <td>Final exam</td>
      <td>{{ final_exam_grade.grade }}/150</td>
    </tr>
    {% if course_grade %}
    <tr>
      <td>Course</td>
      <td>{{ course_grade.grade }}/100</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<div class="content">
  {% endif %}

  <h2 class="title is-4">Lab Grades</h2>
</div>

{% if lab_grades.count %}
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Lab</th>
      <th>Commit</th>
      <th>Late Days</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
  {% for lab_grade in lab_grades.all %}
    <tr>
      <td>{{ lab_grade.lab }}</td>
      <td>{{ lab_grade.commit_id }}</td>
      <td>{{ lab_grade.late_days }}</td>
      <td>{{ lab_grade.grade }}/100</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="content">
  <p>No lab grades yet.</p>
</div>
{% endif %}
  
<div class="content">
  <h2 class="title is-4">Pushes</h2>
</div>

{% if repo.pushes.count %}
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Refname</th>
      <th>User</th>
      <th>Rev</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {% for push in repo.pushes.all %}
    <tr>
      <td>{{ push.refname }}</td>
      <td>{{ push.user }}</td>
      <td>{{ push.old_rev|slice:":6" }}..{{ push.new_rev|slice:":6" }}</td>
      <td>{% timezone "America/Los_Angeles" %}{{ push.time }}{% endtimezone %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="content">
  <p>No repository pushes yet.</p>
</div>
{% endif %}
{% endblock %}
