{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title is-3">Resources</h1>
  
  <ul>
    {% if syllabus %}
    <li><a href="{{ syllabus.file.url }}">Syllabus</a></li>
    {% endif %}
    {% if vm %}
    <li><a href="{{ vm.file.url }}">Virtual machine</a></li>
    {% endif %}
    {% if vm_no_gui %}
    <li><a href="{{ vm_no_gui.file.url }}">Virtual machine (no GUI)</a></li>
    {% endif %}
    <li>
      "<a href="https://pages.cs.wisc.edu/~remzi/OSTEP/">Operating Systems: Three Easy Pieces</a>"
      by <a href="http://www.cs.wisc.edu/~remzi/">Remzi Arpaci-Dusseau</a>
      and <a href="http://www.cs.wisc.edu/~dusseau/">Andrea Arpaci-Dusseau</a>
    </li>
    <!-- <li><a href="https://cs111-ucla.slack.com">Slack</a></li> -->
    {% if summer21_midterm %}
    <li><a href="{{ summer21_midterm.file.url }}">Summer '21 Midterm</a></li>
    {% endif %}
    {% if summer21_midterm_solutions %}
    <li><a href="{{ summer21_midterm_solutions.file.url }}">Summer '21 Midterm Solutions</a></li>
    {% endif %}
    {% if summer21_final %}
    <li><a href="{{ summer21_final.file.url }}">Summer '21 Final</a></li>
    {% endif %}
    {% if summer21_final_solutions %}
    <li><a href="{{ summer21_final_solutions.file.url }}">Summer '21 Final Solutions</a></li>
    {% endif %}
    {% if fall21_midterm %}
    <li><a href="{{ fall21_midterm.file.url }}">Fall '21 Midterm</a></li>
    {% endif %}
    {% if fall21_midterm_solutions %}
    <li><a href="{{ fall21_midterm_solutions.file.url }}">Fall '21 Midterm Solutions</a></li>
    {% endif %}
    {% if fall21_final %}
    <li><a href="{{ fall21_final.file.url }}">Fall '21 Final</a></li>
    {% endif %}
    {% if fall21_final_solutions %}
    <li><a href="{{ fall21_final_solutions.file.url }}">Fall '21 Final Solutions</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
