{% extends "base.html" %}

{% block content %}
<h1 class="title is-3">Password Reset Confirm</h1>

{% if validlink %}
<div class="columns">
  <div class="column is-one-quarter">
    <form class="box" method="post">
      {% csrf_token %}
      <div class="field">
	<div class="control">
	  <input id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" class="input" type="password" placeholder="{{ form.new_password1.label }}">
	</div>
	{% for error in form.new_password1.errors %}
	<p class="help is-danger">{{ error }}</p>
	{% endfor %}
      </div>

      <div class="field">
	<div class="control">
	  <input id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" class="input" type="password" placeholder="{{ form.new_password2.label }}">
	</div>
	{% for error in form.new_password2.errors %}
	<p class="help is-danger">{{ error }}</p>
	{% endfor %}
      </div>

      <div class="field">
	<div class="control">
	  <input class="button is-primary" type="submit" value="Submit">
	  <input type="hidden" name="username" value="{{ form.user.get_username }}">
	</div>
      </div>
    </form>
  </div>
</div>

{% else %}
<div class="notification is-danger is-light">
  The password reset link was invalid, possibly because it has already been used.
  Please request a new password reset.
</div>
{% endif %}

{% endblock %}
