{% extends "base.html" %}

{% block content %}
<h1 class="title is-3">Password Reset</h1>

<div class="columns">
  <div class="column is-one-quarter">
    <form class="box" method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <div class="field">
	<div class="control">
	  <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" class="input" type="text" placeholder="{{ form.email.label }}">
	</div>
	{% for error in form.email.errors %}
	<p class="help is-danger">{{ error }}</p>
	{% endfor %}
      </div>

      <div class="field">
	<div class="control">
	  <input class="button is-primary" type="submit" value="Submit">
	</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
